body {
	font-family: 'Times New Roman', Times, serif;
	background-color: black;
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: black;
	font-size: 56px;
	font-weight: 550;
	text-align: center;
}


main {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

section {
	padding: 15px;
}

.card {
	max-width: 300px ;
}
