body #root {
	font-family: 'Montserrat', sans-serif;
}

body{
	
}

.App{
	background-color: #1E1C1C;
	position: relative;
  min-height: 100vh;
}



section {
	padding: 15px;
}

.card {
	max-width: 300px ;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #212121;
}

.page-header-box{
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
	top: 82px;
	background-color: #FF4545;
}

.page-header{
	margin: 0;
	color: white;
	font-size: 4em;
	text-align: center;

}

#site-footer{
	/* margin-top: -25em; */
	height: 25em;
	background-color: #FF4545;
	width: 100%;
	
}

.content-wrapper {
	padding: 20px;
	min-height: 100em;

  }



